* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

@keyframes enter {
  from {
    transform: translateY(10rem);
  }
  to {
    transform: translateY(0);
  }
}

body {
  margin: 0;
  overflow-x: hidden;
}

.hero {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0);
}

img {
  border-radius: 10px;
}

.show {
  margin: 5px;
  height: 100%;
  width: 100%;
  font-family: Roboto, sans-serif;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  text-align: left;
  border-radius: 8px;
  backdrop-filter: blur(4.5px);
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.show-title {
  margin: 0 0 0.5rem;
  font-weight: 400;
  flex-wrap: wrap;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: blanchedalmond;
}

.show-image {
  width: 80px;
  height: 100px;
  border-radius: 5px;
}

.show-info {
  padding: 1rem;
}

.show-season {
  color: grey;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  width: 300px;
  height: 150px;
  border-radius: 8px;
}

.carousel {
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.carousel h3 {
  margin-left: 10px;
}


.modal {
  position: fixed;
  margin: auto;
  width: 75vw;
  height: 85vh;
  bottom: 0;
  left: 0;
  border-width: 0;
  background-color: rgba(20, 20, 20);
  animation-name: enter;
  animation-duration: 0.6s;
  z-index: 100;
  padding: 5px;
}

.primary{
  z-index: 101;
}

.streaming{
  z-index: 102;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: rgba(5, 5, 5, 0.35);
  backdrop-filter: blur(10px);
}


@media (min-width: 10rem) {
  .modal {
    left: 0%;
    top: 0;
    border-radius: 8px;
  }
}

@media (max-width: 30rem) {
  .modal {
    width: 95vw;
  }
}

.card-display {
  margin: 0 auto;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 10px;
  backdrop-filter: blur(4.5px);
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.089);
  text-align: center;
  font-size: 0.9rem;
}


.updated {
  font-size: 0.8rem;
  color: grey;
}

.inputs {
  display: flex;
  justify-content: space-between;
}

.episode {
  padding: 5px;
  min-height: 50px;
  background-color: rgba(48, 47, 47, 0.5);
  margin: 10px;
  border-radius: 10px;
  color: rgba(177, 150, 109, 0.75);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 30rem) {
  .episode {
    font-size: 0.65rem;
  }
}

.list{
  height: 37.5%;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 4.5px; /* Adjust the width to make the scrollbar thinner */
}

::-webkit-scrollbar-track {
  background-color: #3b3737; /* Set the background color of the scrollbar track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #88888883; /* Set the color of the scrollbar thumb */
  border-radius: 10px;
}


.filtered {
  height: 82.5%;
}

.episode-title {
  flex-wrap: wrap;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.episode-number {
  flex-wrap: nowrap;
  margin-left: 5px;
}

.genre {
  color: grey;
  font-size: 0.8rem;
  background-color: #0e0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 30rem) {
  .genre {
    width: 200px;
    height: 100px;
    font-size: 0.65rem;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  min-height: 50px;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(48, 47, 47, 0.5);
  margin: 10px;
}

.wrapper img {
  max-width: 50px;
}

.list-info {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  gap: 10px;
}

.list-title {
  flex-wrap: wrap;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.wrapper .updated {
  flex-wrap: nowrap;
  font-size: 0.75rem;
  color: grey;
  margin-left: 15px;
}

@media (max-width: 30rem) {
  .wrapper .updated {
    font-size: 0.5rem;
  }

  .list-info {
    font-size: 0.65rem;
  }
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  justify-content: space-between;
  width: 75vw;
}

.search-message{
  font-size: 0.8rem;
  color: rgba(128, 128, 128, 0.712);
  display: flex;
  justify-content: center;
  margin-top: 35vh;
  z-index: -99;
}

.search-result {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 5px;
  overflow-y: auto;
  flex-wrap: wrap;
  width: 92.5vw;
  height: 75vh;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.search-result-item{
  width: 165px;
  background: transparent;
  height: 300px;
  border-radius: 10px;
  padding: 5px;
}

.item-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.search-result-item:hover .item-content {
  transform: rotateY(180deg);
}

.search-result-item:hover{
  cursor: pointer;
}

.item-preface, .item-backface {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  backdrop-filter: blur(4.5px);
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.089);
  border-radius: 10px;
}

.item-backface {
  transform: rotateY(180deg);
  overflow-y: auto;
  overflow-x: hidden;
}

.search-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  padding-bottom: 10px;
}


.filterSlide {
  height: 60px;
  width: 200px;
  background-color: black;
  padding: 5px;
}


.result {
  display: flex;
  align-items: center;
  gap: 5px;
}

.genre-section {
  width: 95%;
  margin: 10px auto;
}

.searchSwiper {
  display: flex;
  justify-content: center;
}

.icons{
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}


