* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  background: #0f2027e0;
  color: rgba(255, 255, 255, 0.87);
}

@keyframes enter {
  from {
    transform: translateY(10rem);
  }
  to {
    transform: translateY(0);
  }
}

body {
  margin: 0;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  background-color: rgba(48, 47, 47, 0.5);
  backdrop-filter: blur(4.5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.089);
  position: sticky;
  top: 0;
  z-index: 98;
  font-size: 0.8rem;
}

.user-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.settings-modal {
  position: fixed;
  top: 0;
  margin-left: auto;
  background-color: rgba(32, 31, 31, 0.705);
  backdrop-filter: blur(10px);
  padding: 5px;
  animation: slideIn 0.5s;
  text-align: center;
  border: 1.5px solid rgba(255, 255, 255, 0.089);
  border-radius: 10px;
  height: 100vh;
  z-index: 99;
  flex-wrap: wrap;
}

.settings-info{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:250px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  font-size: 0.8rem;
  color: lightgray,
}

.user-button {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.089);
  padding: 2.5px;
  background-color: rgba(66, 66, 66, 0.096);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 0.5rem;
}

.user-button:hover {
  background-color: rgba(95, 89, 89, 0.877);
  transition-duration: 0.1s;
  transform: translate3d(0, -1px, 0);
}

.hero {
  width: 100vw;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1d4b5f,
    #203a43,
    #01090c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #254b5c,
    #152e36,
    #021016
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 7.55px rgba(0, 0, 0, 0.65), 0 0 10px rgba(0, 0, 0, 0.35),
  0 0 15px rgba(0, 0, 0, 0.15);
  padding-bottom: 10vh;
}

img {
  border-radius: 10px;
}

.show {
  height: 100%;
  width: 100%;
  font-family: Roboto, sans-serif;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  text-align: left;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: all 0.1s ease-in-out;
}

.show:hover {
  background-color: rgba(1, 11, 24, 0.39);
  transition-duration: 0.1s;
  transform: translate3d(0, -1px, 0);
}

.show-title {
  margin: 0 0 0.5rem;
  font-weight: 200;
  flex-wrap: wrap;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgb(247, 223, 188);
  font-size: 0.85rem;
}

.show-image {
  width: 80px;
  border-radius: 5px;
}

.show-info {
  padding: 1rem;
}

.show-season {
  font-family: monospace;
  color: grey;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  margin-top: 10px;
  width: 250px;
  height: 100px;
  background-color: #030f13be;
  border-radius: 10px;
}

.carousel {
  width: 100%;
}



.modal {
  position: fixed;
  margin: auto;
  width: 65vw;
  height: 87.5vh;
  bottom: 0;
  left: 0;
  border-width: 0;
  background-color: rgba(20, 20, 20);
  animation-name: enter;
  animation-duration: 0.6s;
  z-index: 100;
  padding: 5px;
}


.primary {
  z-index: 101;
}

.streaming {
  z-index: 102;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: rgba(5, 5, 5, 0.35);
  backdrop-filter: blur(10px);
}

@media (min-width: 10rem) {
  .modal {
    left: 0%;
    top: 0;
    border-radius: 8px;
  }
}


.card-display {
  margin: 5px auto;
  max-width: 450px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.089);
  text-align: center;
  font-size: 0.9rem;
  backdrop-filter: blur(4.5px);

}

.updated {
  font-size: 0.65rem;
  color: rgba(224, 112, 7, 0.473);
  font-family: monospace;
}

.inputs {
  display: flex;
  justify-content: space-between;
}

.episode {
  padding: 5px;
  min-height: 50px;
  background-color: rgba(48, 47, 47, 0.5);
  margin: 10px;
  border-radius: 10px;
  color: rgba(177, 150, 109, 0.75);
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.list {
  margin: 10px auto;
  height: 190px;
  border-radius: 10px;
  width: 98%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #030f13;
  border-radius: 10px;
  box-shadow: 0 0 7.55px rgba(0, 0, 0, 0.65), 0 0 10px rgba(0, 0, 0, 0.35),
    0 0 15px rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar {
  width: 4.5px; /* Adjust the width to make the scrollbar thinner */
}

::-webkit-scrollbar-track {
  background-color: #3b3737; /* Set the background color of the scrollbar track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #88888883; /* Set the color of the scrollbar thumb */
  border-radius: 10px;
}

.filtered {
  height: 82.5%;
}

.favorite {
  height: 77.5%;
}

.episode-title {
  flex-wrap: wrap;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.episode-number {
  flex-wrap: nowrap;
  margin-left: 5px;
}

.genre {
  font-size: 0.8rem;
  background-color: #0e0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.genre:hover {
  transition-duration: 0.1s;
  transform: translateY(-2.5px)
}


.wrapper {
  display: flex;
  align-items: center;
  min-height: 50px;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(48, 47, 47, 0.5);
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
}

.wrapper:hover {
  background-color: rgba(29, 28, 28, 0.65);
  transform: translateX(2.5px);
  transition-duration: 0.1s;
}

.wrapper img {
  max-width: 50px;
}

.list-info {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  gap: 10px;
}

.list-title {
  flex-wrap: wrap;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: lightslategrey;
}

.list-season{
  color: darkkhaki;
}

.wrapper .updated {
  flex-wrap: nowrap;
  font-size: 0.75rem;
  color: grey;
  margin-left: 15px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  justify-content: space-between;
  width: 92.5vw;
}

.search-message {
  font-size: 0.8rem;
  color: rgba(128, 128, 128, 0.712);
  display: flex;
  justify-content: center;
  margin-top: 35vh;
  z-index: -99;
}

.search-result {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 5px;
  overflow-y: auto;
  flex-wrap: wrap;
  width: 92.5vw;
  height: 72.5vh;
  box-shadow: 0 0 7.55px rgba(0, 0, 0, 0.65), 0 0 10px rgba(0, 0, 0, 0.35),
    0 0 15px rgba(0, 0, 0, 0.15);
  padding: 10px 0;
}

.search-result-item {
  width: 165px;
  background: transparent;
  height: 300px;
  border-radius: 10px;
  padding: 5px;
  animation: enter 0.5s;

}

.search-result-item .updated{
  color: rgba(255, 140, 0, 0.644);
  font-size: 0.7rem;
}

.search-result-item .show-season{
  color: rgb(77, 148, 148);
  font-size: 0.85rem;
}

.item-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.search-result-item:hover .item-content {
  transform: rotateY(180deg);
}

.item-preface,
.item-backface {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.40);
  border-radius: 44px;
  box-shadow: 0 0 7.55px rgba(0, 0, 0, 0.65), 0 0 10px rgba(0, 0, 0, 0.35),
    0 0 15px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.item-backface {
  transform: rotateY(180deg);
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
  color: rgb(24, 10, 10);
  padding: 5px;
  text-align: center;
}

.search-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  padding-bottom: 10px;
  font-size: 1rem;
}

.search-info-title{
  margin: 5px auto;
  color: rgb(160, 160, 132);
}

.filterSlide {
  height: 60px;
  width: 200px;
  background-color: black;
  padding: 5px;
}

.result {
  display: flex;
  align-items: center;
  gap: 5px;
}

.genre-section {
  width: 95%;
  margin: 10px auto;
}

.searchSwiper {
  display: flex;
  justify-content: center;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.watched{
  width: 95%;
  margin: 5px auto;
  overflow-y: auto;
  overflow-x: hidden;
  height: 36.5%;
  background-color: #030f13;
  border-radius: 10px;
  box-shadow: 0 0 7.55px rgba(0, 0, 0, 0.65), 0 0 10px rgba(0, 0, 0, 0.35),
    0 0 15px rgba(0, 0, 0, 0.15);
}

.lowerMain{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
}

@media (max-width: 52rem) {

  .search-info{
    font-size: 0.8rem;
  }

  .modal {
    width: 95vw;
  }

  .search-result-item {
    width: 150px;
  }
}

@media (max-width: 40rem){
  .genre {
    width: 200px;
    height: 100px;
    font-size: 0.65rem;
  }

  .list-info {
    font-size: 0.65rem;
  }

  .episode {
    font-size: 0.65rem;
  }

  .modal {
    width: 99vw;
  }

  .list-title{
    font-size: 0.65rem;
  }

  .wrapper .updated {
    flex-wrap: nowrap;
    font-size: 0.65rem;
    color: grey;
    margin-left: 15px;
  }

  label {
    font-size: 0.75rem;
  }

  .searchBar{
    width: 130px;
  }

  .search-result-item {
    width: 140px;
  }

}

@media (max-width: 30rem){
  .wrapper .updated {
    flex-wrap: nowrap;
    font-size: 0.55rem;
    color: grey;
    margin-left: 15px;
  }
}

